<nav class="pagination" role="pagination">
	<div class="inner">

		<p class="pagination-info">{{t "Page {page} of {pages}" page=page pages=pages}}</p>
		{{#if next}}
		<a class="pagination-prev" href="{{page_url next}}"> <span class="pagination-label">{{t "Older"}}</span> > </a>
		{{/if}}
		{{#if prev}}
		<a class="pagination-next" href="{{page_url prev}}"> < <span class="pagination-label">{{t "Newer"}}</span></a>
		{{/if}}
	</div>
</nav>
