{{!< default}}

{{#post}}

<nav id="navigation">
	<span id="home-button" class="nav-button">
		<a class="home-button" href="{{@blog.url}}" title="{{t "Home"}}"> < {{t "Home"}}</a>
	</span>
</nav>

<header id="post-header"{{#if cover_image}} class="has-cover" {{/if}}>
	<div class="inner">
		<nav id="navigation">
		</nav>
		<h1 class="post-title">{{{title}}}</h1>
	</div>
</header>

<main class="content" role="main">
	<article class="{{post_class}}">
		<section class="post-content">
			{{content}}
		</section>
	</article>
</main>

{{/post}}
